header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* HEADER SOCIALS */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    /* width: 1px;
    height: 2rem; */
    width: 4px;
    height: 3rem;
    background: var(--color-primary);
}

/* ME IMAGE */

.me {
    background: linear-gradient(var(--color-primary),transparent);
    /* width: 22rem;
    height: 30rem; */

    width: 25rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    /* border-radius: 12rem 12rem 0 0; */
    border-radius: 50%;
    overflow: hidden;
    padding: 1px;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

.me img {
    height: 95%;
    object-fit: cover;
}

/* .me img{
    background: linear-gradient(var(--color-primary),transparent);
    border-radius: 50%;
    margin-top: auto;
    padding: 1px;
    width: 80%;
    height: 110%; */

    
/* 
    width: 78%;
    height: 98%; */

    /* position: relative;
    background-size: cover;
    object-fit: cover;
} */

/* .me {
    width: 38rem;
    height: 34rem; */
    
    /* border: 7px solid var(--color-primary) ;
    border-radius: 50%; */

    /* overflow: hidden;
    left: calc(50% - 18rem);
    position: relative;
    padding: 1.5rem;
    object-fit: cover;
    margin-top: 3rem;
    
    padding: 0 ;
} */


/* SCROLL DOWN */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    /* bottom: 5rem; */
    bottom: 7rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

    /* width: 2px; */
    height: 5rem;
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }


}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    /* .me img{
        height: 75%;
        width: 55%;

    }
    .me {
     height: 20rem;
     width: 22rem;
    } */
    .header__socials,
    .scroll__down {
        display: none;
    }
}
